
altair==4.2.0
anaconda-client==1.1.1

ansi2html==1.7.0

argh==0.26.2

atomicwrites==1.4.0


backports.weakref==1.0.post1
backports.zoneinfo==0.2.1

bkcharts==0.2

blinker==1.4

boto==2.49.0

Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.2.0
cashier==1.3

cmasher==1.6.2

colorspacious==1.1.2
commonmark==0.9.1
comtypes==1.1.10




configparser==5.0.2

coverage==5.5
crayons==0.4.0

cytoolz==0.11.0
dash==2.5.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0

DateTime==4.3

docopt==0.6.2

e13tools==0.9.6

et-xmlfile==1.1.0

fastcache==1.1.0

Flask-Compress==1.12
fonttools==4.25.0

future==0.18.2

gitdb==4.0.9
GitPython==3.1.27


h5py==2.10.0

highlight-text==0.2

inflect==5.3.0

joypy==0.2.4
js2xml==0.3.1


jupyter==1.0.0

jupyter-dash==0.4.2

kloppy==1.6.0
kmodes==0.11.0

llvmlite==0.38.0

mccabe==0.6.1

mistune==0.8.4
mkl-fft==1.3.1

mkl-service==2.4.0


mplsoccer==1.0.5
mpmath==1.2.1

multipledispatch==0.6.0
munkres==1.1.4



nose2==0.10.0

parso==0.7.0

patsy==0.5.2
pep8==1.7.1

Pillow==9.0.1
pipreqs==0.4.11

plotly==5.8.2

ply==3.11

protobuf==3.20.1

pyarrow==8.0.0

pycosat==0.6.3

pycurl==7.45.1
pydeck==0.7.1

Pympler==1.0.1

pyOpenSSL==19.1.0

pyreadline==2.1

pytest==7.1.2

pytz-deprecation-shim==0.1.0.post0
pywaffle==0.6.1

pywin32==302
pywin32-ctypes==0.2.0

PyYAML==6.0

requests-cache==0.6.3
retrying==1.3.3
rich==12.4.4

ScraperFC==1.5.0

selenium==3.141.0
semver==2.13.0

simplegeneric==0.8.1

sip==4.19.13

slimit==0.8.1
smmap==5.0.0

squarify==0.4.3

statsbomb==0.3.0
statsbombpy==1.0
statsmodels==0.13.2
streamlit==1.10.0

tables==3.6.1

tenacity==8.0.1

tifffile==2020.10.1

tyrone-mings==1.1.6
tzdata==2022.1
tzlocal==4.2

unicodecsv==0.14.1
url-normalize==1.4.3

validators==0.20.0

webdriver-manager==3.4.2
webencodings==0.5.1

win-unicode-console==0.5
wincertstore==0.2

xlwings==0.24.9
xlwt==1.3.0

yarg==0.1.9
zict==2.0.0

zope.event==4.5.0

